
<h1> Event Planner </h1>

<% if Current.user %>
  Logged in as: <%= Current.user.first_name %>
<% end %>
 

<br />
<div class = "grid text-center">
<% if @booking_types.present? %>
  <% @booking_types.each do |booking_type| %>
   
    <div class= "mt-5 fs-2 btn btn-light gap-xl">
    <%= link_to booking_type.category, new_booking_path(booking_type: booking_type.category), class: '' %>
    </div>

  <% end %>
<% end %>
 </div>

<br />
<% if @bookings.present? %>
  <% @bookings.each do |booking| %>
    
    
    <table class= "table mt-5">
      <thead> 
      <tr>
        <th scope="col"> First name</th>
        <th scope="col">Last name</th>
        <th scope="col">Booking type</th>
        <th scope="col"> Description</th>
        <th scope="col"> Start At</th>
        <th scope="col"> End At</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td><%= booking.first_name %></td>
        <td><%= booking.last_name %></td>
       
        <td><%= booking.booking_type.category %></td>
        <td><%= booking.booking_type.description %></td>
        <td><%= booking.start_at%></td>
        <td><%= booking.end_at%></td>
      </tr>
      </tbody>
    </table>

    <%= link_to 'Show', booking_path(booking), class: 'btn btn-primary' %>
  <% end %>
<% end %>