<div id="<%= dom_id booking_type %>"   >
  <div class="d-flex flex-column">
  <div >
  <p>
    <strong>Category:</strong>
    <%= booking_type.category %>
  </p>
  </div>

  <p>
    <strong>Location:</strong>
    <%= booking_type.location %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= booking_type.description %>
  </p>


  <p>
    <strong>Duration:</strong>
    <%= booking_type.duration %>
  </p>


  </div>
</div>
