  <%= form_with model: @booking, local: true, data: { turbo: false } do |form| %>
  <% if @booking.errors.any? %>
  <div class= "alert alert-danger">
  <% @booking.errors.full_messages.each do |message| %>
    <div><%= message %></div>
  <% end %>
    </div>
<% end %>

  <div class= "mb-3"  >
    <%= form.label :first_name, style: "display: block", class: "fw-bolder" %>
    <%= form.text_field :first_name , class:"form-control text-center"%>
  </div>

  <div class= "mb-3"  >
    <%= form.label :last_name, style: "display: block" , class: "fw-bolder"%>
    <%= form.text_field :last_name, class:"form-control text-center" %>
  </div>


  <div class= "mb-3">
    <%= form.label :start_at, style: "display: block",class: "fw-bolder" %>
    <%= form.datetime_field :start_at, class:"form-control text-center" %>
  </div>

  <div class= "mb-3">
    <%= form.label :end_at, style: "display: block",class: "fw-bolder"%>
    <%= form.datetime_field :end_at, class:"form-control text-center" %>
  </div>


  <div class= "mb-3">
  Category: <b><%= @booking_type.category %></b>
    
  <%= form.hidden_field :booking_type_id, :value => @booking_type.id%>
  </div>

  <div class= "mb-3">
    User Id: <b><%= session[:user_id] %></b>
    
  <%= form.hidden_field :user_id, :value => session[:user_id]%>

  </div>

  <div class= "mb-3 ">
    <%= form.submit%>
  </div>


<% end %>
