<%= form_with model: @booking do |form| %>
  <% if @booking.errors.any? %>
  <div class= "alert alert-danger">
  <% @booking.errors.full_messages.each do |message| %>
    <div><%= message %></div>
  <% end %>
    </div>
<% end %>
<div>
  <div >
    <%= form.label :first_name, style: "display: block" %>
    <%= form.text_field :first_name %>
  </div>

  <div>
    <%= form.label :last_name, style: "display: block" %>
    <%= form.text_field :last_name %>
  </div>


  <div>
    <%= form.label :start_at, style: "display: block" %>
    <%= form.datetime_field :start_at %>
  </div>

  <div>
    <%= form.label :end_at, style: "display: block" %>
    <%= form.datetime_field :end_at %>
  </div>


  <div>
  Category: <b><%= @booking_type.category %></b>
    
  <%= form.hidden_field :booking_type_id, :value => @booking_type.id%>
  </div>

  <div>
    <%= form.submit %>
  </div>


<% end %>
