<p style="color: green"><%= notice %></p>

<%= render @booking %>

<div>
  <%= link_to "Edit this booking", edit_booking_path(@booking), class: "btn btn-primary" %> |
  <%= link_to "Back to bookings", bookings_path , class: "btn btn-primary"%>

  <%= button_to "Destroy this booking", @booking, method: :delete , class: "btn btn-warning mt-3"%>
  <%= link_to ' Home', homepage_path, class:"btn btn-dark mt-2" %>
</div>
